<div class="section-full overlay-black-middle bg-img-fix content-inner-1" style="background-image:url(images/background/bg2.jpg);">
    <div class="container">
        <div class="section-head text-center text-white">
            <h2 class="text-uppercase">nos clients parlent de nous</h2>
            <div class="dez-separator-outer ">
                <div class="dez-separator bg-secondry style-skew"></div>
            </div>
        </div>
        <div class="section-content">
            <div class="testimonial-one owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-1 testimonial-bg">
                        <div class="testimonial-pic quote-left radius shadow"><img src="{{ asset('images/testimonials/pic1.jpg') }}" width="100" height="100" alt=""></div>
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-1 testimonial-bg">
                        <div class="testimonial-pic quote-left radius shadow"><img src="{{ asset('') }}images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-1 testimonial-bg">
                        <div class="testimonial-pic quote-left radius shadow"><img src="{{ asset('') }}images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>