<div class="col-lg-9 col-md-8 col-sm-6">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="dez-box">
                <div class="dez-media"> <a href="#"><img src="{{ asset('images/our-services/img1.jpg') }}" alt=""></a> </div>
                <div class="dez-info m-t30 ">
                    <h4 class="dez-title m-t0"><a href="#">The Initial Planning </a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                </div>

            </div>

        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dez-box">
                <div class="dez-media m-b30 p-b5"> <a href="#"><img src="{{ asset('images/our-services/img2.jpg') }}" alt=""></a></div>
                <div class="dez-media"> <a href="#"><img src="{{ asset('images/our-services/img3.jpg') }}" alt=""></a></div>
                <div class="dez-info m-t30">
                    <h4 class="dez-title m-t0"><a href="#">From Start To finish</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                </div>
            </div>
        </div>
    </div>
</div>